* {
  padding: 0;
  margin: 0;
}

:root {
  --header-bg: #f1d302;
  --hero-bg: #161925;
  --cta-bg: #c1292e;
  --color-4: #235789;
  --white-color: #fdfffc;
  --primary-font-size: 40px;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
p,
a {
  font-family: "Hammersmith One";
}

a {
  text-decoration: none;
}

header {
  background-color: var(--header-bg);
}

header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header nav ul {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

header nav ul a {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
}

header nav ul li a:hover {
  color: #ffffff;
}

ul {
  list-style: none;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

#logo span {
  font-size: 42px;
  font-family: "Jersey 10";
}

#menu-buger {
  display: none;
}

@media (max-width: 920px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav ul {
    display: none;
  }

  #logo {
    margin-left: 10px;
  }

  #menu-buger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
  }
}

#cover-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-image: url("assets/images/cover.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
}

#cover-section h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
}

.cta {
  background: none;
  background-color: var(--cta-bg);
  border: none;
  padding: 20px 100px;
  color: #ffffff;
}

.cta:hover {
  background: #7c090d;
}

/* BUG: The background is not fiting
        the screen size correctly
*/
@media (max-width: 720px) {
  #cover-section h1 {
    font-size: 40px;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
}

#info {
  background-color: var(--hero-bg);
  padding: 40px;
}

#info h2 {
  padding: 10px;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 720px) {
  #info h2 {
    font-size: 20px;
  }
}

#collections {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  padding: 40px;
  margin: auto;
}

#collections h2 {
  padding-bottom: 20px;
  font-size: var(--primary-font-size);
}

#collections > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.collection-container {
  position: relative;
  display: block;
}

.collection-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.collection-text {
  display: flex;
  opacity: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  text-align: center;
  font-size: 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3 ease;
}

.collection-text:hover {
  opacity: 1;
}

@media (max-width: 720px) {
  #collections > div {
    display: flex;
    flex-direction: column;
  }

  #collections h2 {
    text-align: center;
  }
}

#audio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 30px;
  max-width: 90%;
  margin: auto;
}

#audio h2 {
  font-family: "Hammersmith One";
  font-size: var(--primary-font-size);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.audio-container {
  display: flex;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0px 20px 20px 0px;
}

.audio-container div {
  display: flex;
  padding: 10px 40px 20px 40px;
  flex: 1;
  flex-direction: column;
  background-color: var(--color-4);
  border-radius: inherit;
}

.audio-container div span {
  font-family: "Hammersmith One";
  font-size: 24px;
  color: var(--white-color);
}

.audio-container div div {
  gap: 40px;
}

@media (max-width: 720px) {
  .audio-container {
    flex-direction: column;
    border-radius: 0px;
  }

  .audio-container div span {
    font-size: 20px;
  }

  .audio-container div div {
    gap: 10px;
  }
}

#video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  max-width: 90%;
}

#video h2 {
  font-size: var(--primary-font-size);
  padding-bottom: 40px;
}

#video > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

#video div div video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#video div div span {
  display: flex;
  justify-content: center;
  font-family: "Hammersmith One";
  font-size: 32px;
  padding: 10px 0px;
}

@media (max-width: 720px) {
  #video > div {
    display: flex;
    flex-direction: column;
    
  }
}

